.footer {
  background: $black;
  background-image: url("../../assets/home/bg-pattern-footer.svg");
  background-position: center;
  background-repeat: no-repeat;

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 34rem 0 9rem;
  }

  @include medium {
    background-position: top -30rem center;

    &__content {
      flex-direction: column;
      padding-top: 60rem;
      text-align: center;
    }
  }

  @include small {
    &__content {
      padding-top: 90rem;
    }

    &__button {
      margin-top: 4rem;
    }
  }
}
