.signup-form {
  border-radius: 1.3rem;
  padding: 4rem 3.2rem;
  max-width: 46rem;
  box-shadow: $shadow;
  background: $wight;
  animation: moveFromRight 1s ease-out;

  input {
    @include body-2;

    margin-bottom: 2.4rem;
    outline: none;
    border: none;
    border-bottom: 0.1rem solid rgba($gray, 0.5);
    padding: 0 1.6rem 1.7rem;
    color: $dark-gray;
    width: 100%;
  }

  input::placeholder {
    color: rgba($gray, 0.5);
  }

  .btn-submit {
    margin-top: 2.6rem;
    width: 100%;
  }

  .error {
    color: #f05b5b;
  }

  @include large {
    margin: 10rem auto 0;
  }

  @include small {
    margin: 6.4rem auto 0;
  }
}

@keyframes moveFromRight {
  0% {
    opacity: 0;
    transform: translate(20rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}
