.signup-form {
  border-radius: 1.3rem;
  padding: 4rem 3.2rem;
  max-width: 46rem;
  box-shadow: $shadow;
  background: $wight;

  input {
    @include body-2;

    margin-bottom: 2.4rem;
    outline: none;
    border: none;
    border-bottom: 0.1rem solid rgba($gray, 0.5);
    padding: 0 1.6rem 1.7rem;
    width: 100%;
    color: $dark-gray;
  }

  input::placeholder {
    color: rgba($gray, 0.5);
  }

  .btn-submit {
    margin-top: 2.6rem;
    width: 100%;
  }

  .error {
    color: #f05b5b;
  }

  @include large {
    margin: 0 auto;
  }
}
