.card {
  border-radius: 1.3rem;
  padding: 4rem 0;
  min-height: 50.8rem;
  box-shadow: 0 5rem 5rem -2.5rem rgba(75, 92, 154, 0.24716);
  text-align: center;
  background: $wight;

  &__title {
    @include H2;

    margin-bottom: 4rem;
    color: $dark-gray;
  }

  &__price {
    margin-bottom: 5.6rem;

    .price {
      @include H1;

      color: $dark-gray;

      &__description {
        @include body-1;

        color: $dark-gray;
      }
    }
  }

  &__list {
    display: grid;
    margin-bottom: 3.2rem;
    row-gap: 1.6rem;

    &-item {
      @include body-2;

      color: $gray;
    }
  }

  .btn-1:hover {
    background: rgba($blue, 0.35);
  }

  &:nth-child(2) {
    background: $blue;
    background-image: url("../../assets/home/bg-pattern-pricing.svg");
    background-position: bottom;
    background-repeat: no-repeat;

    .card__title,
    .price,
    .price__description,
    .card__list-item {
      color: $wight;
    }
  }

  @include medium {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 4.8rem 6.8rem 4.8rem 4.8rem;
    min-height: 31.6rem;

    &__header {
      text-align: left;
    }

    &__title {
      margin-bottom: 1.6rem;
    }

    button {
      position: absolute;
      left: 4.8rem;
      bottom: 4.8rem;
    }

    &__footer {
      display: grid;
      align-items: center;

      ul {
        margin-bottom: 0;
      }
    }

    &:nth-child(2) {
      background-position: right 8rem center;
    }
  }

  @include small {
    flex-direction: column;
    padding: 4rem 5rem;
    min-height: 50.8rem;

    &__header {
      text-align: center;
    }

    button {
      position: static;
      margin: 0 auto;
      width: 17rem;
    }

    &__title {
      margin-bottom: 4rem;
    }

    &__price {
      margin-bottom: 5.6rem;
    }

    ul {
      margin-bottom: 3.2rem;
    }
  }
}
