.section {
  background: $very-light-gray;
  background-image: url("../../assets/home/bg-pattern-header.svg");
  background-position: top -43rem right -13rem;
  background-size: 60%;
  background-repeat: no-repeat;

  &__content {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 21rem;
    backface-visibility: hidden;

    &-text {
      animation: moveInLeft 1s ease-out;
    }

    @include large {
      padding-top: 20rem;
    }

    @include small {
      display: flex;
      flex-wrap: wrap-reverse;
      justify-content: center;
      padding-top: 22rem;
      text-align: center;
      row-gap: 6.4rem;
    }
  }

  &__content-heading {
    @include H1;

    color: $dark-gray;

    @include large {
      font-size: 4rem;
      line-height: 4.8rem;
    }
  }

  &__content-p {
    @include body-1;

    padding: 2.4rem 0 3.2rem;
    color: $gray;

    @include large {
      padding: 2.4rem 0;
      font-size: 1.6rem;
      line-height: 2.6rem;
    }
  }

  a {
    box-shadow: 0 2.4rem 2.4rem -1rem rgba(63, 91, 194, 0.24716);
  }

  img {
    justify-self: end;
    height: 531px;
    transform: translate(0, 4rem);
    animation: moveInRight 1s ease-out;

    @include medium {
      width: 28rem;
      height: auto;
    }

    @include small {
      width: 17rem;
      height: auto;
    }
  }

  @include large {
    background-position: right -20rem top -20rem;
  }

  @include small {
    background-position: top -13rem right;
    background-size: 100%;
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-20rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translate(20rem, 4rem);
  }

  100% {
    opacity: 1;
    transform: translate(0, 4rem);
  }
}
