.timer {
  &__title {
    @include H3;

    color: $blue;
  }

  &__content {
    display: flex;
    column-gap: 1.6rem;
  }

  &__box {
    border-radius: 1.3rem;
    padding: 1.7rem 0;
    width: 10rem;
    text-align: center;

    h3 {
      @include H1;
    }

    span {
      @include body-2;

      font-weight: $fw-bold;
    }
  }
}
