.timer {
  &__title {
    @include H3;

    color: $blue;
  }

  &__content {
    display: flex;
  }

  &__box {
    margin-right: 1.6rem;
    border-radius: 1.3rem;
    padding: 1.7rem 0;
    width: 10rem;
    text-align: center;

    h3 {
      @include H1;
    }

    span {
      @include body-2;

      font-weight: $fw-bold;
    }

    @include small {
      margin-right: 1.3rem;
      padding: 1rem 0;
      width: 7.2rem;

      h3 {
        font-size: 3.2rem;
        line-height: $lh-m;
      }

      span {
        font-size: 1.2rem;
        line-height: $lh-s;
      }
    }

    @include xsmall {
      width: 6rem;
    }
  }

  @include small {
    &__content {
      margin-top: 1.8rem;
    }
  }
}
