@use "./variables" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: $font-family;
}

a {
  display: inline-block;
  text-decoration: none;
}

li {
  list-style: none;
}

main {
  height: 100%;
}

.outer-container {
  margin: 0 auto;
  width: 100%;
  max-width: 1440px;
}

.inner-container {
  margin: 0 auto;
  padding: 0 0.5rem;
  width: 100%;
  max-width: 112rem;

  @include large {
    padding: 0 4rem;
  }

  @include large {
    padding: 0 2.4rem;
  }
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

// Buttons
.btn,
.btn:link {
  position: relative;
  outline: none;
  border: none;
  border-radius: 2.8rem;
  padding: 1.4rem 4rem;
  font-family: $font-family;
  font-weight: $fw-bold;
  font-size: $fsz-s;
  line-height: $lh-s;
  transition: $transition;
  cursor: pointer;
}

.btn-1 {
  color: $wight;
  background: $blue;

  &:hover {
    background: $light-blue;
  }

  @extend .btn;
}

.btn-2 {
  color: $blue;
  background: rgba($blue, 0.15);

  &:hover {
    background: rgba($blue, 0.25);
  }

  @extend .btn;
}

.btn-3 {
  color: $blue;
  background: $wight;

  &:hover {
    color: $light-blue;
  }

  @extend .btn;
}
