@use "./variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: variables.$font-family;
}

a {
  display: inline-block;
  text-decoration: none;
}

li {
  list-style: none;
}

main {
  height: 100%;
}

.outer-container {
  margin: 0 auto;
  width: 100%;
  max-width: 1440px;
}

.inner-container {
  margin: 0 auto;
  padding: 0 1rem;
  width: 100%;
  max-width: 112rem;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

// Buttons
.btn {
  border: none;
  border-radius: 2.8rem;
  padding: 1.4rem 4rem;
  font-family: variables.$font-family;
  font-weight: variables.$fw-bold;
  font-size: variables.$fsz-s;
  line-height: variables.$lh-s;
  transition: $transition;
  cursor: pointer;
}

.btn-1 {
  color: variables.$wight;
  background: variables.$blue;

  &:hover {
    background: variables.$light-blue;
  }

  @extend .btn;
}

.btn-2 {
  color: variables.$blue;
  background: rgba(variables.$blue, 0.15);

  &:hover {
    background: rgba(variables.$blue, 0.25);
  }

  @extend .btn;
}

.btn-3 {
  color: variables.$blue;
  background: variables.$wight;

  &:hover {
    color: variables.$light-blue;
  }

  @extend .btn;
}
